@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}

@model List<Product>

<h2>Danh sách sách</h2>

<div class="container mt-3">
    <form asp-action="Search" method="get" class="form-inline">
        <div class="input-group">
            <label for="keyword" class="sr-only">Tìm kiếm:</label>
            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="Nhập từ khóa...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Tên sách</th>
            <th>Tác giả</th>
            <th>Giá</th>
            <th>Danh mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
                <td>
                    @if (book.Category != null)
                    {
                        @book.Category.Name
                    }
                </td>
                <td>
                    <a asp-action="ProductDetail" asp-route-id="@book.Id">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>

