@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@model Product

<h2>Chi tiết sách</h2>

<dl class="row">
    <dt class="col-sm-2">
        Tên sách:
    </dt>
    <dd class="col-sm-10">
        @Model.Title
    </dd>

    <dt class="col-sm-2">
        Tác giả:
    </dt>
    <dd class="col-sm-10">
        @Model.Author
    </dd>

    <dt class="col-sm-2">
        Giá:
    </dt>
    <dd class="col-sm-10">
        @Model.Price
    </dd>

    <dt class="col-sm-2">
        Danh mục:
    </dt>
    <dd class="col-sm-10">
        @Model.Category.Name
    </dd>
</dl>

<div class="row">
    <div class="col-md-6">
        <a asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary">Thêm vào giỏ hàng</a>
    </div>
    <div class="col-md-6">
        <a asp-action="Checkout" asp-route-id="@Model.Id" class="btn btn-success">Thanh toán ngay</a>
    </div>
</div>
