@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@model User

<h1>Profile</h1>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.Id</dd>

    <dt class="col-sm-2">Ảnh đại diện</dt>
    <dd class="col-sm-10">
        <img src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" alt="Avatar" style="max-width: 100px; max-height: 100px;" />
    </dd>

    <dt class="col-sm-2">Tên đăng nhập</dt>
    <dd class="col-sm-10">@Model.Username</dd>

    <dt class="col-sm-2">Tên đầy đủ</dt>
    <dd class="col-sm-10">@Model.FullName</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Điện thoại</dt>
    <dd class="col-sm-10">@Model.Phone</dd>

    <dt class="col-sm-2">Giới tính</dt>
    <dd class="col-sm-10">@Model.Gender</dd>

    <a asp-action="UpdateProfile">Cập nhật thông tin cá nhân</a>

</dl>

<a asp-action="Index">Quay lại danh sách</a>
