@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/admin.cshtml";

}

@model List<User>

<h1>Quản lý HQ Administrator</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên đăng nhập</th>
            <th>Tên đầy đủ</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Đặt lại mật khẩu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var storeOwners in Model)
        {
            <tr>
                <td>@storeOwners.Id</td>
                <td>@storeOwners.Username</td>
                <td>@storeOwners.FullName</td>
                <td>@storeOwners.Email</td>
                <td>@storeOwners.Phone</td>
                <td>
                    <a asp-action="ResetPassword" asp-route-id="@storeOwners.Id">Đặt lại mật khẩu</a>
                </td>
            </tr>
        }
    </tbody>
</table>
